*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
  background-image: url('background.jpg');
  background-size: cover; /* Adjust the image size */
  background-position: center; /* Position the image */
  background-repeat: no-repeat; 
}

.container
{
    min-height: 100vh;
    border: 10px solid #000 ;
    display: flex;
    justify-content: left;
}
.content{
    margin-left: 3rem;
}

.top_section
{
    margin-top: 100px;
    display: flex ;
    gap: 50rem;
    align-items: end;
    
}
.parent{
    gap: 18rem;
    margin-top: 12rem;
    display: flex;
    justify-items: center;
    align-items: center;
}

.top_section h1{
    font-size: 4rem;
    font-weight: bold;
    color: #1d1e4c;
    
}

.top_section h4{
    display: flex;
    margin-right: 8rem;
    font-size: 2rem;
    text-align: end;
}

.image_container,.pf
{
    position: absolute;
    top: 4rem;
    left: 4rem;
    height: 320px;
    width: 280px;
    border-radius: 7%;
    overflow: hidden;
    
}

.about_section h2{
    padding-left: 3rem;
    font-weight: bold;
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    
}


.about_section p{
    padding-left: 3rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.parent i{
    font-size: 1.5rem;
    padding-left: 2.5rem;
    margin-bottom: 1rem;
    position:absolute;
    justify-items: auto;
    
}

.about_section2 h2{
    padding-left: 4rem;
    font-weight: bold;
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    
}
.about_section2 p{
    padding-left: 4rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.about_section3 h2{
    padding-left: 4rem;
    font-weight: bold;
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    
}

.about_section3 p{
    padding-left: 4rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

